steps:
- task: UsePythonVersion@0
  displayName: 'Use Python 3.9'
  inputs:
    versionSpec: '3.9'

- task: Cache@2
  inputs:
    key: 'python_execute_aml | "$(Agent.OS)" | .azure-pipelines/requirements/execute_job_requirements.txt'
    restoreKeys: |
      python_execute_aml | "$(Agent.OS)"
    path: $(PIP_CACHE_DIR)
  displayName: 'Cache pip packages'

- task: AzureCLI@2
  displayName: Install Job Requirements
  inputs:
    azureSubscription: $(AZURE_RM_SVC_CONNECTION)
    scriptType: bash
    scriptLocation: inlineScript
    workingDirectory: $(System.DefaultWorkingDirectory)
    inlineScript: |
      set -e # fail on error
      python -m pip install --upgrade pip
      pip install -r .azure-pipelines/requirements/execute_job_requirements.txt
      az version


