name: London Taxi CI Workflow
on:
  push:
    branches:
      - ci_fix_v2
      # - development
    paths:
      - .github/*
      - mlops/common/*
      - mlops/*
      - mlops/london_taxi/*
      - model/london_taxi/*
      - src/london_src/*
      - test/london_taxi/*
  workflow_call:
    inputs:
      exec_environment:
        type: string
        description: "Execution Environment"
        required: true
        default: "dev"
      model_type:
        type: string
        description: "The type of model to run the workflow for"
        required: true
        default: "london_taxi"
jobs:
  run-ci-workflow:
    uses: ./.github/workflows/platform_ci_workflow.yml
    with:
      exec_environment: ${{ inputs.exec_environment || 'dev' }}
      model_type: ${{ inputs.model_type || 'london_taxi' }}
    secrets:
      subscription_id: ${{ secrets.SUBSCRIPTION_ID }}
      resource_group_name: ${{ secrets.RESOURCE_GROUP_NAME }}
      workspace_name: ${{ secrets.WORKSPACE_NAME }}
      azure_credentials: ${{ secrets.AZURE_CREDENTIALS }}
